
  <div class="col-md-4" style="opacity:0.9;">
    <div class="panel panel-info">
      <div class="panel-heading text-center">
        Details
      </div>
      <div class="panel-body">
        <div>
          <b class="col-sm-4">Date:&nbsp;</b><span class="col-sm-8">{{hunt.date}}</span>
        </div>
        <div>
          <b class="col-sm-4">Location:&nbsp;</b><span class="col-sm-8">{{hunt.location}}</span>
        </div>
        <div>
          <b class="col-sm-4">Temp:&nbsp;</b><span class="col-sm-8">{{hunt.temperature}}</span>
        </div>
        <div>
          <b class="col-sm-4">Wind:&nbsp;</b><span class="col-sm-8">{{hunt.windDirection}}&nbsp;{{hunt.windSpeed}}mph</span>
        </div>
        <div>
          <b class="col-sm-4">Shots:&nbsp;</b><span class="col-sm-8">{{hunt.shotsFired}}</span>
        </div>
        <div>
          <b class="col-sm-4">Gun:&nbsp;</b><span class="col-sm-8">{{hunt.gunUsed}}</span>
        </div>
        <div>
          <b class="col-sm-4">Dog:&nbsp;</b><span class="col-sm-8">{{hunt.dog}}</span>
        </div>
        <div>
          <b class="col-sm-4">Retrieves:&nbsp;</b><span class="col-sm-8">{{hunt.retrieves}}</span>
        </div>
      </div>
    </div>
</div>
<div class="col-md-2" style="opacity:0.9;">
    <div class="panel panel-info">
      <div class="panel-heading text-center">
        Partners
      </div>
      <div class="panel-body">
        <app-partner-list></app-partner-list>
        <!--<div>Kevin</div>
        <div>Will</div>-->
      </div>
    </div>
</div>
<div class="col-md-3" style="opacity:0.9;">
    <div class="panel panel-info">
      <div class="panel-heading text-center">
        Ducks
      </div>
      <div class="panel-body">
        <app-shot-duck-list></app-shot-duck-list>
      </div>
    </div>
</div>

